<footer class="footer">
  <div class="SocialLinks">
  {% for item in site.social %}
    <a href="{{ item.link }}" class="icon-{{item.name}} social-button borderless" target="_blank"><i aria-hidden="true"></i></a>
    <!--<a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>-->
  {% endfor %}
  </div>

  <div class="post-date">
      <h3 class="post-date-Text-align-center"><span >&copy; {{ site.time | date: '%Y' }}<a class = "Signed-Website"> ChristopherSchiefer.com</a></span><span> ALL RIGHTS RESERVED.</span></h3>
  </div>
</footer>
